<div class="wrapper">
  <div class="title">
    Angular
    <a href="https://github.com/javkhaanj7/minimalist-developer/tree/master/b/angular-app" target="_blank">
      <i class="fa fa-code-fork" aria-hidden="true"></i>
    </a>
  </div>
  <div class="flag">
    <span class="flag-icon flag-icon-mn" (click)="changeLocale('mn')"></span>
    <span class="flag-icon flag-icon-gb" (click)="changeLocale('en')"></span>
  </div>
  <div class="date">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    {{today}}
  </div>
</div>