<div class="wrapper">
  <div class="title">
    Angular
    <a href="https://github.com/javkhaanj7/minimalist-developer/tree/master/a/angular-app" target="_blank">
      <fa-icon [icon]="faCodeBranch"></fa-icon>
    </a>
  </div>
  <div class="flag">
    <span class="flag-icon flag-icon-mn" (click)="changeLocale('mn')"></span>
    <span class="flag-icon flag-icon-gb" (click)="changeLocale('en')"></span>
  </div>
  <div class="date">
    <fa-icon [icon]="faClock"></fa-icon>
    {{today}}
  </div>
</div>